{% extends "templates/layout.njk" %}

{% set title = "Контакты" %}

{% block styles %}
    <link rel="stylesheet" href="css/libs/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/libs/fancybox.css">    
    <link rel="stylesheet" href="css/about-page.min.css">
{% endblock %}

{% block content %}
    <div class="container">
        <section class="hero">
            <nav class="hero__breadcrumbs breadcrumbs">
                <ol class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="./" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">О Компании</a>
                    </li>
                </ol>
            </nav>
            <h1 class="hero__title">О Компании</h1>
        </section>
    </div>
    {% include "pages-blocks/blockquote.njk" %}
     <section class="content section">
        <div class="content__column">
            <h2>Коммерческое проектирование в Москве</h2>
            <p>Оно представляет собой процесс создания плана по возведению нежилого объекта. Важный критерий коммерческих зданий – использование их с целью получения прибыли (например, отели, в которых люди временно проживают за плату). Также в объектах коммерческой недвижимости размещаются офисы, магазины, склады, развлекательные заведения (кинотеатры, детские центры).</p>
            <p>Все нежилые помещения можно разделить на несколько групп с учетом таких видов деятельности, как торговая, производственная, офисная и складская. Назначение объекта во многом определяет и специфику его планирования.</p>
            <h2>Специфика проектирование производственных зданий:</h2>
            <p>В противном случае это может привести к невозможности правильного выполнения каких-то процессов, а корректировка обойдется довольно дорого. Проектирование производственных зданий выполняется на основе уже работающей схемы. Исполнитель обязан принимать во внимание такие особенности:</p>
            <ul>
                <li>использование тяжелой спецтехники;</li>
                <li>наличие вибраций</li>
                <li>нагрузку на узлы</li>
                <li>степень агрессивности рабочей среды и пр.</li>
            </ul>
            <p>Планирование производственного объекта – задача повышенной сложности. Это определяется тонкостями процессов, которые предстоит обязательно учитывать при формировании плана. Чтобы он был составлен грамотно, для исключения даже малейших неточностей к его разработке привлекаются технологи отрасли в качестве экспертов.</p>
            <a data-fancybox data-fancybox-youtube href="https://www.youtube.com/watch?v=jNQXAC9IVRw&ab_channel=jawed" class="video">
                <div>
                    <img src="/images/service-02.png" alt="">
                    <div>
                        <object data="/images/svg-icons/play.svg" type="image/svg+xml"></object>
                    </div>
                </div>
                <p>Как настроена вентиляционная коммуникация</p>
            </a>
            <h2>Профессиональное проектирование под ключ</h2>
            <p>В противном случае это может привести к невозможности правильного выполнения каких-то процессов, а корректировка обойдется довольно дорого. Проектирование производственных зданий выполняется на основе уже работающей схемы. Исполнитель обязан принимать во внимание такие особенности:</p>
            <ul>
                <li>использование тяжелой спецтехники;</li>
                <li>наличие вибраций</li>
                <li>нагрузку на узлы</li>
                <li>степень агрессивности рабочей среды и пр.</li>
            </ul>
            <p>Планирование производственного объекта – задача повышенной сложности. Это определяется тонкостями процессов, которые предстоит обязательно учитывать при формировании плана. Чтобы он был составлен грамотно, для исключения даже малейших неточностей к его разработке привлекаются технологи отрасли в качестве экспертов.</p>
            <h3>Этапы работы:</h3>
            <p>В противном случае это может привести к невозможности правильного выполнения каких-то процессов, а корректировка обойдется довольно дорого. Проектирование производственных зданий выполняется на основе уже работающей схемы. Исполнитель обязан принимать во внимание такие особенности:</p>
            <ol>
                <li>Генеральный план – отображается площадь, подлежащая застройке, с нанесенными контурами готовых зданий.</li>
                <li>Общие чертежи – фасадов, поэтажные планы, схемы в поперечном и продольном разрезах (детальные создаются только для сложных узлов).</li>
                <li>Генеральный план – отображается площадь, подлежащая застройке, с нанесенными контурами готовых зданий.</li>
                <li>Общие чертежи – фасадов, поэтажные планы, схемы в поперечном и продольном разрезах (детальные создаются только для сложных узлов).</li>
            </ol>
            <h2>Что такое коммерческое проектирование</h2>
            <p>В противном случае это может привести к невозможности правильного выполнения каких-то процессов, а корректировка обойдется довольно дорого. Проектирование производственных зданий выполняется на основе уже работающей схемы. Исполнитель обязан принимать во внимание такие особенности:</p>
            <blockquote>
                <p>В противном случае это может привести к невозможности правильного выполнения каких-то процессов, а корректировка обойдется довольно дорого. Проектирование производственных зданий выполняется на основе уже работающей схемы. Исполнитель обязан принимать во внимание такие особенности:</p>
            </blockquote>
        </div>
        <div class="content__aside"></div>
    </section>
    {% include "pages-blocks/advantages.njk" %}
    {% include "pages-blocks/feedback.njk" %}
{% endblock %}

{% block scripts %}
    <script src="js/libs/swiper-bundle.min.js"></script>
    <script src="js/libs/fancybox.umd.js"></script>
    {{ super() }}
{% endblock %}