{% extends "templates/layout.njk" %}

{% set title = "Главная страница" %}
{% block styles %}

    <link rel="stylesheet" href="css/libs/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/style.min.css">

{% endblock %}


{% block content %}
    {% include "pages-blocks/hero.njk" %}
    {% include "pages-blocks/advantages.njk" %}
    {% include "pages-blocks/services.njk" %}
    {% include "pages-blocks/contact-us.njk" %}
    {% include "pages-blocks/about.njk" %}
    {% include "pages-blocks/blockquote.njk" %}
    {% include "pages-blocks/projects.njk" %}
    {% include "pages-blocks/commercial.njk" %}
    {% include "pages-blocks/feedback.njk" %}
{% endblock %}

{% block scripts %}
    <script src="js/libs/swiper-bundle.min.js"></script>
    {{ super() }}
{% endblock %}