{% extends "templates/layout.njk" %}

{% set title = "Страница проекта" %}
{% block styles %}

    <link rel="stylesheet" href="css/libs/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/libs/fancybox.css">
    <link rel="stylesheet" href="css/single-project-page.min.css">

{% endblock %}

{% block content %}
    <div class="container">
        <section class="content section">
            <nav class="content__breadcrumbs breadcrumbs">
                <ol class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="./" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Услуги</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Вентиляция и кондиционирование</a>
                    </li>
                </ol>
            </nav>
            <div class="content__column">
                <h2>Оптимизация пространства для офиса ProCreate в торговом центре "Авиапарк"</h2>
                <p>В противном случае это может привести к невозможности правильного выполнения каких-то процессов, а корректировка обойдется довольно дорого. Проектирование производственных зданий выполняется на основе уже работающей схемы. Исполнитель обязан принимать во внимание такие особенности:</p>
                <h2>Специфика проектирование производственных зданий:</h2>
                <p>В противном случае это может привести к невозможности правильного выполнения каких-то процессов, а корректировка обойдется довольно дорого. Проектирование производственных зданий выполняется на основе уже работающей схемы. Исполнитель обязан принимать во внимание такие особенности:</p>
                <ul>
                    <li>использование тяжелой спецтехники;</li>
                    <li>наличие вибраций</li>
                    <li>нагрузку на узлы</li>
                    <li>степень агрессивности рабочей среды и пр.</li>
                </ul>
                <p>Планирование производственного объекта – задача повышенной сложности. Это определяется тонкостями процессов, которые предстоит обязательно учитывать при формировании плана. Чтобы он был составлен грамотно, для исключения даже малейших неточностей к его разработке привлекаются технологи отрасли в качестве экспертов.</p>
                <a data-fancybox data-fancybox-youtube href="https://www.youtube.com/watch?v=jNQXAC9IVRw&ab_channel=jawed">
                    <div>
                        <img src="" alt="">
                        <div>
                            <object data="/images/svg-icons/play.svg" type="image/svg+xml"></object>
                        </div>
                    </div>
                    <p>Как настроена вентиляционная коммуникация</p>
                </a>
            </div>
            <div class="content__aside"></div>
        </section>
        {% include "pages-blocks/gallery.njk" %}
    </div>

    {% include "pages-blocks/advantages.njk" %}
    {% include "pages-blocks/feedback.njk" %}
{% endblock %}

{% block scripts %}
    <script src="js/libs/swiper-bundle.min.js"></script>
    <script src="js/libs/fancybox.umd.js"></script>
    {{ super() }}
{% endblock %}