{% extends "templates/layout.njk" %}

{% set title = "Страница услуги" %}
{% block styles %}

    <link rel="stylesheet" href="css/libs/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/single-service-page.min.css">

{% endblock %}

{% macro ServiceItem(title, index) %}
    <div class="services__service-item service">
        <div class="service__wrapper">
            <div class="service__name">{{ title }}</div>
            <div class="service__info">
                <div class="service__desc">
                    {% if index === 1 %}
                        <p class="service__text">
                            Таким образом сложившаяся структура организации требуют от нас анализа форм
                            Таким образом сложившаяся структура организации требуют от нас анализа форм
                            Таким образом сложившаяся структура организации требуют от нас анализа форм
                            Таким образом сложившаяся структура организации требуют от нас анализа форм
                            Таким образом сложившаяся структура организации требуют от нас анализа форм
                            Таким образом сложившаяся структура организации требуют от нас анализа форм
                        </p>
                    {% else %}
                        <p>Таким образом сложившаяся структура организации требуют от нас анализа форм</p>
                    {% endif %}
                    <ul>
                        <li>от 2 месяцев</li>
                        <li>Под ключ</li>
                        <li>от 4000 ₽/м²</li>
                    </ul>
                </div>
                <div class="service__image"></div>
            </div>
            <div class="service__arrow">
                <object data="/images/svg-icons/button-arrow.svg" type="image/svg+xml"></object>
            </div>
        </div>
    </div>
{% endmacro %}

{% block content %}
    <div class="container">
        <section class="hero">
            <div class="hero__image">
                <img src="/images/service-01.png" alt="">
            </div>
            <div class="hero__content">
                <h1 class="hero__title">Вентиляция и кондиционирование</h1>
                <div class="hero__desc _transparent">Задача организации, в особенности же рамки и место обучения кадров влечет за собой процесс задача организации, в особенности же рамки</div>
                <div class="hero__actions">
                    <div class="hero__button button button--white">
                        <span class="button__label">Рассчитать стоимость</span>
                        <div class="button__arrow">
                            <object data="/images/svg-icons/button-arrow.svg" type="image/svg+xml"></object>
                        </div>
                    </div>
                    <div class="hero__action-desc">
                        <object data="/images/svg-icons/whatsapp-attachment.svg" type="image/svg+xml"></object>
                        <span>Отправим расчет на Whatsapp в течение недели со дня заявки</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="content section">
            <div class="content__column">
                <h2>Коммерческое проектирование в Москве</h2>
                <p>Оно представляет собой процесс создания плана по возведению нежилого объекта. Важный критерий коммерческих зданий – использование их с целью получения прибыли (например, отели, в которых люди временно проживают за плату). Также в объектах коммерческой недвижимости размещаются офисы, магазины, склады, развлекательные заведения (кинотеатры, детские центры).</p>
                <p>Все нежилые помещения можно разделить на несколько групп с учетом таких видов деятельности, как торговая, производственная, офисная и складская. Назначение объекта во многом определяет и специфику его планирования.</p>
                <h2>Специфика проектирование производственных зданий:</h2>
                <p>В противном случае это может привести к невозможности правильного выполнения каких-то процессов, а корректировка обойдется довольно дорого. Проектирование производственных зданий выполняется на основе уже работающей схемы. Исполнитель обязан принимать во внимание такие особенности:</p>
                <ul>
                    <li>использование тяжелой спецтехники;</li>
                    <li>наличие вибраций</li>
                    <li>нагрузку на узлы</li>
                    <li>степень агрессивности рабочей среды и пр.</li>
                </ul>
                <p>Планирование производственного объекта – задача повышенной сложности. Это определяется тонкостями процессов, которые предстоит обязательно учитывать при формировании плана. Чтобы он был составлен грамотно, для исключения даже малейших неточностей к его разработке привлекаются технологи отрасли в качестве экспертов.</p>
                <h2>Профессиональное проектирование под ключ</h2>
                <p>В противном случае это может привести к невозможности правильного выполнения каких-то процессов, а корректировка обойдется довольно дорого. Проектирование производственных зданий выполняется на основе уже работающей схемы. Исполнитель обязан принимать во внимание такие особенности:</p>
                <ul>
                    <li>использование тяжелой спецтехники;</li>
                    <li>наличие вибраций</li>
                    <li>нагрузку на узлы</li>
                    <li>степень агрессивности рабочей среды и пр.</li>
                </ul>
                <p>Планирование производственного объекта – задача повышенной сложности. Это определяется тонкостями процессов, которые предстоит обязательно учитывать при формировании плана. Чтобы он был составлен грамотно, для исключения даже малейших неточностей к его разработке привлекаются технологи отрасли в качестве экспертов.</p>
                <h3>Этапы работы:</h3>
                <p>В противном случае это может привести к невозможности правильного выполнения каких-то процессов, а корректировка обойдется довольно дорого. Проектирование производственных зданий выполняется на основе уже работающей схемы. Исполнитель обязан принимать во внимание такие особенности:</p>
                <ol>
                    <li>Генеральный план – отображается площадь, подлежащая застройке, с нанесенными контурами готовых зданий.</li>
                    <li>Общие чертежи – фасадов, поэтажные планы, схемы в поперечном и продольном разрезах (детальные создаются только для сложных узлов).</li>
                    <li>Генеральный план – отображается площадь, подлежащая застройке, с нанесенными контурами готовых зданий.</li>
                    <li>Общие чертежи – фасадов, поэтажные планы, схемы в поперечном и продольном разрезах (детальные создаются только для сложных узлов).</li>
                </ol>
                <h2>Что такое коммерческое проектирование</h2>
                <p>В противном случае это может привести к невозможности правильного выполнения каких-то процессов, а корректировка обойдется довольно дорого. Проектирование производственных зданий выполняется на основе уже работающей схемы. Исполнитель обязан принимать во внимание такие особенности:</p>
                <blockquote>
                    <p>В противном случае это может привести к невозможности правильного выполнения каких-то процессов, а корректировка обойдется довольно дорого. Проектирование производственных зданий выполняется на основе уже работающей схемы. Исполнитель обязан принимать во внимание такие особенности:</p>
                </blockquote>
            </div>
            <div class="content__aside"></div>
        </section>
    </div>
    {% include "pages-blocks/projects.njk" %}
    {% include "pages-blocks/advantages.njk" %}
    {% include "pages-blocks/contact-us.njk" %}

    <section class="services section">
        <div class="container">
            <div class="services__inner-wrapper">
                <div class="services__header section__header">
                    <h2 class="services__title section__title">Оказываемые услуги</h2>
                </div>
                <div class="section__body">
                    <div class="services__list">
                        {% set services = ["Монтаж вентиляции", "Обслуживание систем вентиляции", "Монтаж вентиляционной решётки", "Шумоизоляция вентиялции", "Монтаж вентиляции", "Обслуживание систем вентиляции" ] %}
                        {% for service in services %}
                            {{ ServiceItem(service, loop.index) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    {% include "pages-blocks/faq.njk" %}
    {% include "pages-blocks/commercial.njk" %}
    {% include "pages-blocks/feedback.njk" %}
{% endblock %}

{% block scripts %}
    <script src="js/libs/swiper-bundle.min.js"></script>
    {{ super() }}
{% endblock %}