{% extends "templates/layout.njk" %}

{% set title = "Страница подуслуги" %}
{% block styles %}

    <link rel="stylesheet" href="css/libs/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/libs/fancybox.css">    
    <link rel="stylesheet" href="css/subservice-page.min.css">

{% endblock %}

{% block content %}
    <section class="hero">
        <nav class="hero__breadcrumbs breadcrumbs">
            <ol class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                    <a href="./" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link">Услуги</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="/single-service-page.html" class="breadcrumbs__link">Вентиляция и кондиционирование</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link">Обслуживание систем вентиляции</a>
                </li>
            </ol>
        </nav>
        <div class="hero__image">
            <img src="/images/service-01.png" alt="">
        </div>
        <div class="hero__content">
            <h1 class="hero__title _h2">Обслуживание систем вентиляции</h1>
            <div class="hero__desc _transparent">Задача организации, в особенности же рамки и место обучения кадров влечет за собой процесс задача организации, в особенности же рамки</div>
            <div class="hero__actions">
                <button class="hero__button button button--white" type="button">
                    <span class="button__label">Рассчитать стоимость</span>
                    <div class="button__arrow">
                        {# <object data="/images/svg-icons/button-arrow.svg" type="image/svg+xml"></object> #}
                        <svg>
                            <use xlink:href="#arrow"></use>
                        </svg>
                    </div>
                </button>
                <div class="hero__action-desc">
                    <object data="/images/svg-icons/whatsapp-attachment.svg" type="image/svg+xml"></object>
                    <span>Отправим расчет на Whatsapp в течение недели со дня заявки</span>
                </div>
            </div>
        </div>
    </section>
    {% include "pages-blocks/running-line.njk" %}
    <section class="content section">
        <div class="content__column">
            <h2>Коммерческое проектирование в Москве</h2>
            <p>Оно представляет собой процесс создания плана по возведению нежилого объекта. Важный критерий коммерческих зданий – использование их с целью получения прибыли (например, отели, в которых люди временно проживают за плату). Также в объектах коммерческой недвижимости размещаются офисы, магазины, склады, развлекательные заведения (кинотеатры, детские центры).</p>
            <p>Все нежилые помещения можно разделить на несколько групп с учетом таких видов деятельности, как торговая, производственная, офисная и складская. Назначение объекта во многом определяет и специфику его планирования.</p>
            <h2>Специфика проектирование производственных зданий:</h2>
            <p>В противном случае это может привести к невозможности правильного выполнения каких-то процессов, а корректировка обойдется довольно дорого. Проектирование производственных зданий выполняется на основе уже работающей схемы. Исполнитель обязан принимать во внимание такие особенности:</p>
            <ul>
                <li>использование тяжелой спецтехники;</li>
                <li>наличие вибраций</li>
                <li>нагрузку на узлы</li>
                <li>степень агрессивности рабочей среды и пр.</li>
            </ul>
            <p>Планирование производственного объекта – задача повышенной сложности. Это определяется тонкостями процессов, которые предстоит обязательно учитывать при формировании плана. Чтобы он был составлен грамотно, для исключения даже малейших неточностей к его разработке привлекаются технологи отрасли в качестве экспертов.</p>
            <a data-fancybox data-fancybox-youtube href="https://www.youtube.com/watch?v=jNQXAC9IVRw&ab_channel=jawed">
                <div>
                    <img src="" alt="">
                    <div>
                        {# <object data="/images/svg-icons/play.svg" type="image/svg+xml"></object> #}
                        <svg>
                            <use xlink:href="#play"></use>
                        </svg>
                    </div>
                </div>
                <p>Как настроена вентиляционная коммуникация</p>
            </a>
            <h2>Профессиональное проектирование под ключ</h2>
            <p>В противном случае это может привести к невозможности правильного выполнения каких-то процессов, а корректировка обойдется довольно дорого. Проектирование производственных зданий выполняется на основе уже работающей схемы. Исполнитель обязан принимать во внимание такие особенности:</p>
            <ul>
                <li>использование тяжелой спецтехники;</li>
                <li>наличие вибраций</li>
                <li>нагрузку на узлы</li>
                <li>степень агрессивности рабочей среды и пр.</li>
            </ul>
            <p>Планирование производственного объекта – задача повышенной сложности. Это определяется тонкостями процессов, которые предстоит обязательно учитывать при формировании плана. Чтобы он был составлен грамотно, для исключения даже малейших неточностей к его разработке привлекаются технологи отрасли в качестве экспертов.</p>
            <h3>Этапы работы:</h3>
            <p>В противном случае это может привести к невозможности правильного выполнения каких-то процессов, а корректировка обойдется довольно дорого. Проектирование производственных зданий выполняется на основе уже работающей схемы. Исполнитель обязан принимать во внимание такие особенности:</p>
            <ol>
                <li>Генеральный план – отображается площадь, подлежащая застройке, с нанесенными контурами готовых зданий.</li>
                <li>Общие чертежи – фасадов, поэтажные планы, схемы в поперечном и продольном разрезах (детальные создаются только для сложных узлов).</li>
                <li>Генеральный план – отображается площадь, подлежащая застройке, с нанесенными контурами готовых зданий.</li>
                <li>Общие чертежи – фасадов, поэтажные планы, схемы в поперечном и продольном разрезах (детальные создаются только для сложных узлов).</li>
            </ol>
            <h2>Что такое коммерческое проектирование</h2>
            <p>В противном случае это может привести к невозможности правильного выполнения каких-то процессов, а корректировка обойдется довольно дорого. Проектирование производственных зданий выполняется на основе уже работающей схемы. Исполнитель обязан принимать во внимание такие особенности:</p>
            <blockquote>
                <p>В противном случае это может привести к невозможности правильного выполнения каких-то процессов, а корректировка обойдется довольно дорого. Проектирование производственных зданий выполняется на основе уже работающей схемы. Исполнитель обязан принимать во внимание такие особенности:</p>
            </blockquote>
        </div>
        <div class="content__aside"></div>
    </section>
    {% include "pages-blocks/projects.njk" %}
    {% include "pages-blocks/advantages.njk" %}
    {% include "pages-blocks/contact-us.njk" %}
    {% include "pages-blocks/faq.njk" %}
    {% include "pages-blocks/commercial.njk" %}
    {% include "pages-blocks/feedback.njk" %}
{% endblock %}

{% block scripts %}
    <script src="js/libs/swiper-bundle.min.js"></script>
    <script src="js/libs/gsap.min.js"></script>
    <script src="js/libs/ScrollTrigger.min.js"></script>
    <script src="js/libs/fancybox.umd.js"></script>
    {{ super() }}
{% endblock %}