.commercial {
    &__content {
        border-top: rem(1) solid rgba(0, 0, 0, 0.08);
        border-bottom: rem(1) solid rgba(0, 0, 0, 0.08);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: rem(15);
        padding: rem(20) 0;
    }
    &__title {
        font-size: rem(48);
        font-weight: 500;
        line-height: calc(50 / 48);
        max-width: rem(420);
    }

    &__article {
        flex-basis: calc((100% - rem(15)) / 2);
    }
    @include tablet {
        &__content {
            flex-direction: column;
            gap: rem(40);
        }
        &__title {
            font-size: rem(38);
            width: 80%;
            max-width: unset;
        }
    }
    @include phone {
        &__content {
            gap: rem(20);
        }
        &__title {
            font-size: rem(28);
            line-height: calc(30 / 28);;
        }
    }
}

