.hero-info {
    --padding-x: 5.125rem;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    padding: rem(185) var(--padding-x, rem(82)) rem(160);
    // padding: rem(185) calc(82 / 818 * 100%) rem(160);
    @include adaptive-value(--padding-x, 15, 82, 992, $container-width);
    // &__content-wrapper {
    //     height: 100%;
    // }
    &__title {
        color: var(--white);
        font-size: rem(48);
        @include adaptive-value(font-size, 28, 48, 576, $container-width);
        font-weight: 500;
        line-height: calc(50 / 48);
        letter-spacing: -0.03em;
        text-align: center;
        &:not(:last-child) {
            margin: 0 0 rem(40);
        }
    }

    &__link {
    }

    &__desc {
        display: flex;
        gap: rem(20);
        margin: auto 0 0;
    }

    &__desc-item {
        display: flex;
        align-items: center;
        gap: rem(8);
        font-size: rem(15);
        font-weight: 500;
        line-height: calc(20 / 15);
        text-transform: uppercase;
        &::before {
            background-color: var(--white);
            border-radius: 50%;
            content: "";
            display: block;
            width: rem(8);
            height: rem(8);
        }
    }
    @media screen and (max-width: 1080px) {
        gap: rem(50);
        padding: 0;
        &__title {
            max-width: rem(680);
            &:not(:last-child) {
                margin-bottom: 0;
            }
        }
    }
    @include phone {
        gap: rem(30);
        &__desc {
            display: none;
        }
    }
}


.hero {
    display: flex;
    position: relative;
    height: calc(var(--vh, 1vh) * 100);
    max-height: rem(945);
    &__container {
    }
    &__content-swiper, &__gallery-swiper {
        flex: 0 0 calc((100% - rem(15)) / 2);
    }
    &__content-swiper {
        background-color: #252529;
    }
    &__thumb {
        border-top: rem(1) solid rgba(255, 255, 255, 0.15);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(20);
        padding: rem(30) 0;
        position: absolute;
        left: rem(30);
        bottom: 0;
        width: calc((100% - rem(15)) / 2 - rem(60));
        z-index: 1;
    }
    &__thumb-swiper {
        margin: 0;
        .swiper-wrapper {
            min-width: 0;
        }
        .swiper-slide {
            border-radius: 50%;
            box-sizing: content-box;
            padding: rem(4);
            width: rem(55);
            height: rem(55);
            opacity: 0.25;
            overflow: hidden;
            img {
                // background-color: tomato;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .swiper-slide-thumb-active {
            border: rem(1) solid var(--white);
            opacity: 1;
        }
    }
    &__image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .hero-info, .hero__image {
        height: 100%;
    }
    @media screen and (max-width: 1080px) {
        background-color: #252529;
        flex-direction: column-reverse;
        gap: rem(50);
        padding-top: rem(15);
        // padding-bottom: rem(15);
        height: auto;
        &__container {
        }
        &__content-swiper, &__gallery-swiper {
            flex-basis: auto;
        }
        &__content-swiper {
            width: 100%;
        }
        // &__content-swiper {
        //     margin-left: rem(-15);
        //     margin-right: rem(-15);
        //     padding-left: rem(15);
        //     padding-right: rem(15);
        //     width: calc(100% + 2* rem(15));
        // }
        &__gallery-swiper {
            width: 100%;
        }
        &__gallery-swiper {
            height: rem(550);
        }
        &__thumb {
            margin-left: auto;
            margin-right: auto;
            position: static;
            width: calc(100% - 2 * rem(20));
            // width: 100%;
            order: -1;
        }
    }
    @include gap {
        &__gallery-swiper {
            height: rem(450);
            overflow: visible;
        }
        &__thumb {
            .swiper-controls {
                display: none;
            }
        }
        &__thumb-swiper {
            margin-left: rem(-20);
            margin-right: rem(-20);
            padding-left: rem(20);
            padding-right: rem(20);
        }
    }
    @include phone {
        padding: rem(10);
        gap: rem(30);
        &__container {
        }
        // &__content-swiper {
        //     margin-left: rem(-10);
        //     margin-right: rem(-10);
        //     padding-left: rem(-10);
        //     padding-right: rem(-10);
        //     width: calc(100% + 2* rem(10));
        // }
        &__gallery-swiper {
            aspect-ratio: calc(340 / 300);
            height: auto;
        }
        &__thumb {
            padding-bottom: rem(25);
            width: calc(100% - 2 * rem(10));
        }
        &__thumb-swiper {
            .swiper-slide {
                width: rem(50);
                height: rem(50);
            }
        }
    }
}