<section class="blockquote section">
    <div class="container">
        <blockquote class="blockquote__blockquote">
            <div><span class="_transparent">Миссия компании</span></div>
            <p>Каждый проект для нас уникален, и мы уделяем особое внимание индивидуальным требованиям и пожеланиям клиента при проектировании.Наш подход направлен на оптимизацию затрат</p>
            <div class="blockquote__image">
                <div class="blockquote__avatar">
                    <img src="" alt="">
                </div>
            </div>
            <footer>
                <div>Иванов Иван</div>
                <div class="_transparent">Генеральный директор ООО "Реал Тайм"</div>
            </footer>
        </blockquote>
    </div>
</section>