<section class="blockquote">
    <div class="container">
        <div class="blockquote__image">
            <div class="blockqoute__avatar">
                <img src="" alt="">
            </div>
        </div>
        <blockquote class="blockquote__blockquote">
            <div>Миссия компании</div>
            <p>Каждый проект для нас уникален, и мы уделяем особое внимание индивидуальным требованиям и пожеланиям клиента при проектировании.Наш подход направлен на оптимизацию затрат</p>
            <footer>
                <div>Иванов Иван</div>
                <div>Генеральный директор ООО "Реал Тайм"</div>
            </footer>
        </blockquote>
    </div>
</section>