
{% macro Question(question) %}
    <div class="faq__question question accordion">
        <div class="question__header accordion__header">
            <div class="question__title accordion__title">{{ question }}</div>
            <button class="question__button accordion__button" type="button"></button>
        </div>
        <div class="question__body accordion__body">
            <div class="question__text accordion__text">
                <p>Оно представляет собой процесс создания плана по возведению нежилого объекта. Важный критерий коммерческих зданий – использование их с целью получения прибыли (например, отели, в которых люди временно проживают за плату). Также в объектах коммерческой недвижимости размещаются офисы, магазины, склады, развлекательные заведения (кинотеатры, детские центры).</p>
                <p>Все нежилые помещения можно разделить на несколько групп с учетом таких видов деятельности, как торговая, производственная, офисная и складская. Назначение объекта во многом определяет и специфику его планирования.</p>
            </div>
        </div>
    </div>
{% endmacro %}

<section class="section faq">
    <div class="faq__content">
        <h2 class="faq__title _transparent">Частые вопросы и ответы</h2>
        <div class="faq__questions">
            {% set questions = [
                "Можно ли скачать архитектурный проект в интернете?",
                "Какова роль дизайн-проекта в архитектурном проектировании?",
                "Какова роль перепланировки в архитектурном проектировании?",
                "Какие исходные данные или документы нужны, чтобы заказать проект?",
                "Что может платная скорая помощь?",
                "Можно ли скачать архитектурный проект в интернете?",
                "Какова роль дизайн-проекта в архитектурном проектировании?"
            ] %}
            {% for question in questions %}
                {{ Question(question) }}
            {% endfor %}
        </div>
    </div>
</section>