{% set services = ["магазины", "рестораны и бары", "офисы", "торговые островки", "конструктивные решения", "архитектурные решения", "электрика и освещение", "водоснабжение и водоотведение", "вентиляция и кондиционирование", "слаботочные сети", "проектирование вывески"] %}

<div class="footer">
    <div class="footer__content">
        <div class="footer__main">
            <div>
                <a href="/" class="footer__logo">
                    <object data="/images/logo-dark.svg" type="image/svg+xml"></object>
                    <object data="/images/logo-dark-hover.svg" type="image/svg+xml"></object>
                </a>
                <div class="footer__actions">
                    <button class="footer__city footer__action" type="button">
                        <div class="footer__city-icon footer__action-icon">
                            {# <object data="/images/svg-icons/geo.svg" type="image/svg+xml"></object> #}
                            <svg>
                                <use xlink:href="#geo"></use>
                            </svg>
                        </div>
                        <div class="footer__city-label footer__action-label">Москва</div>
                    </button>
                    <button class="footer__call footer__action" type="button">
                        <div class="footer__action-icon">
                            {# <object data="/images/svg-icons/phone.svg" type="image/svg+xml"></object> #}
                            <svg>
                                <use xlink:href="#phone-icon"></use>
                            </svg>
                        </div>
                        <span class="footer__action-label">Заказать звонок</span>
                    </button>
                </div>
            </div>
            <div>
                <div class="footer__aaccent">
                    <object data="/images/aaccent-logo.svg" type="image/svg+xml"></object>
                </div>
                <div class="footer__copyright _transparent">© 2000 - 2024 ООО «Реал Тайм»</div>
                <a href="#" class="footer__policy _transparent">Политика конфидициальности</a>
            </div>
        </div>
        <nav class="footer__menu">
            <div class="footer__services">
                <div class="footer__services-header">
                    <div class="footer__services-title">Услуги</div>
                    <div class="footer__services-arrow">
                        {# <object data="/images/svg-icons/menu-arrow.svg" type="image/svg+xml"></object> #}
                        <svg>
                            <use xlink:href="#menu-arrow"></use>
                        </svg>
                    </div>
                </div>
                <div class="footer__services-body">
                    <ul class="footer__services-menu _transparent">
                        {% for service in services %}
                            <li class="footer__serivces-item">
                                <a href="/single-service-page.html" class="footers__services-link">{{ service }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <ul class="footer__menu-list">
                <li class="footer__menu-item">
                    <a href="/portfolio-page.html" class="footer__menu-link">Портфолио</a>
                </li>
                <li class="footer__menu-item">
                    <a href="/about-page.html" class="footer__menu-link">О Компании</a>
                </li>
                <li class="footer__menu-item">
                    <a href="/contacts-page.html" class="footer__menu-link">Контакты</a>
                </li>
            </ul>
        </nav>
        <div class="footer__contact">
            <div class="footer__contact-title _transparent">Контактная информация:</div>
            <div class="footer__contact-links">
                <a href="tel:+79153400110" class="footer__contact-link">8 (915) 340 01 10</a>
                <a href="mailto:info@re-time.ru" class="footer__contact-link">info@re-time.ru</a>
            </div>
            <div class="footer__contact-info">
                <div class="footer__contact-address"><span class="_transparent">Адрес: </span>г. Москва, Научный проезд, д. 19</div>
                <div class="footer__contact-operation-mode"><span class="_transparent">Режим работы: </span>Пн — Пт с 09:00 до 18:00</div>
            </div>
            <ul class="footer__contact-socials">
                <li class="footer__contact-social">
                    <a href="#" class="footer__contact-social-link">
                        {# <object data="/images/svg-icons/vk.svg" type="image/svg+xml"></object> #}
                        <svg>
                            <use xlink:href="#vk"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer__contact-social">
                    <a href="#" class="footer__contact-social-link">
                        {# <object data="/images/svg-icons/whatsapp.svg" type="image/svg+xml"></object> #}
                        <svg>
                            <use xlink:href="#whatsapp"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer__contact-social">
                    <a href="#" class="footer__contact-social-link">
                        {# <object data="/images/svg-icons/telegram.svg" type="image/svg+xml"></object> #}
                        <svg>
                            <use xlink:href="#telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer__contact-social">
                    <a href="#" class="footer__contact-social-link">
                        {# <object data="/images/svg-icons/youtube.svg" type="image/svg+xml"></object> #}
                            <svg>
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>