<aside class="running-line">
    <div class="running-line__wrapper">
        <div class="running-line__item">
            <div>торговые островки</div>
            <div>магазины</div>
            <div>рестораны</div>
            <div>бары</div>
            <div>офисы</div>
        </div>
    </div>
</aside>
