.breadcrumbs {
    color: var(--white);
    max-width: 100%;
    overflow: hidden;
    &__list {
        display: flex;
        gap: rem(8);
    }
    &__item {
        display: flex;
        align-items: center;
        gap: rem(8);
        &:last-child {
            .breadcrumbs__link {
                cursor: auto;
                pointer-events: none;
            }
        }
        &:not(:first-child) {
            &:before {
                background-color: var(--white);
                border-radius: 50%;
                content: "";
                display: block;
                width: rem(4);
                height: rem(4);
            }
        }
    }
    &__link {
        white-space: nowrap;
        text-transform: lowercase;
    }
}