.dropdown {
    font-weight: 600;
    position: relative;
    text-transform: lowercase;
    z-index: var(--dropdown-z-index);
    &__header {
        background-color: var(--white);
        border-radius: rem(35);
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(20);
        padding: rem(21) rem(30) rem(24);
        position: relative;
        transition: border-radius 0.25s ease 0s;
        z-index: 2;
    }

    &__title {
        // white-space: nowrap; // ?
    }

    &__arrow {
        color: var(--red);
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(90deg);
        svg {
            width: rem(11);
            height: rem(11);
        }
    }

    &__close {
        box-sizing: content-box;
        cursor: pointer;
        display: none;
        padding: rem(5);
        position: absolute;
        top: rem(10);
        right: rem(10);
        width: rem(20);
        height: rem(20);
        &::before, &::after {
            background-color: var(--white);
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: rem(26.29);
            height: rem(2);
        }
        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
    &__list {
        background-color: var(--white);
        border-bottom-left-radius: rem(35);
        border-bottom-right-radius: rem(35);
        padding: 0 rem(30);
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        transform: translate(0, -10%);
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: all 0.25s ease 0s;
    }

    &__list-item {
        border-top: rem(1) solid #EBEBEB;
        padding: rem(22) 0;
        position: relative;
        z-index: 1;
        &--active {
            color: var(--red);
            pointer-events: none;
        }
        &::before {
            background-color: #EBEBEB;
            content: "";
            position: absolute;
            top: rem(-1);
            left: rem(-30);
            width: calc(100% + 2 * rem(30));
            height: calc(100% + 2 * rem(1));
            opacity: 0;
            transition: opacity 0.2s ease 0s;
            z-index: -1;
        }
        @include ishover {
            &:not(.dropdown__list-item--active) {
                &::before {
                    opacity: 1;
                }
            }
        }
    }
    &--open {
        .dropdown__header {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .dropdown__arrow {
            transform: rotate(-90deg);
        }
        .dropdown__list {
            transform: none;
            opacity: 1;
            visibility: visible;
        }
    }
    @include phone {
        position: static;
        z-index: unset;
        &__header {
            padding: rem(18) rem(25);
        }
        &__body {
            background-color: rgba(17, 17, 19, 0.7);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: rem(10);
            position: fixed;
            inset: 0;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease 0s;
            z-index: var(--dropdown-z-index);
        }
        &__close {
            display: block;
        }
        &__list {
            border-radius: rem(15);
            position: static;
            opacity: 1;
            visibility: unset;
            transform: scale(0.75);
            transition: transform 0.3s ease 0s;
            width: 100%;
            max-width: rem(420);
        }
        &__list-item {
            &:first-child {
                border-top: none;
            }
        }
        &--open {
            .dropdown__header {
                border-radius: rem(35);
            }
            .dropdown__body {
                opacity: 1;
                visibility: visible;
            }
            .dropdown__list {
                transform: scale(1);
            }
            .dropdown__arrow {
                transform: none;
            }
        }
    }
}
