.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    z-index: var(--popup-z-index);
    &::before {
        background-color: rgba($color: #111113, $alpha: 0.7);
        content: "";
        position: absolute;
        inset: 0;
        opacity: 0;
        transition: opacity 0.3s ease 0s;
    }
    &__container {
        display: flex;
        justify-content: flex-end;
        // padding: 1.5rem;
        min-height: 100%;
    }
    &__content {
        background-color: var(--white);
        padding: rem(55) rem(35) rem(45) rem(60);
        position: relative;
        max-width: rem(575);
        width: 100%;
        transform: translate(100%, 0);
        transition: transform 0.3s ease 0s;
    }
    &__close { 
        box-sizing: content-box;
        position: absolute;
        top: rem(10);
        right: rem(10);
        padding: 0.625rem;
        width: rem(16);
        height: rem(16);
        &::after, &::before {
            background-color: var(--black);
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: rem(20.64);
            height: rem(2)
        }
        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
    &__header {
        &:not(:last-child) {
            margin: 0 0 rem(60);
        }
    }
    &__title {
        font-size: rem(32);
        font-weight: 500;
        line-height: calc(35 / 32);
        &:not(:last-child) {
            margin: 0 0 calc(25 / 32 * 1em);
        }
    }
    &--open {
        visibility: visible;
        &::before {
            opacity: 1;
        }
        .popup__content {
            transform: none;
        }
    }
    &--consultation {
        .popup__content {
            display: flex;
            flex-direction: column;
        }
        .popup__body {
            flex-grow: 1;
        }
        .form {
            display: flex;
            flex-direction: column;
            gap: rem(35);
            height: 100%;
        }
        .form__submit {
            align-self: flex-start;
            margin: rem(15) 0 0;
        }
        .form__agreement {
            margin-top: auto;
        }
    }
    &--cities {
        .cities {
            &__list-item {
                cursor: pointer;
                &:not(:last-child) {
                    margin: 0 0 rem(15);
                }
            }
        }
        .city {
            display: flex;
            align-items: center;
            gap: rem(8);
            width: fit-content;
            &__name {
                font-size: rem(18);
                font-weight: 400;
                line-height: calc(25 / 18);
            }
            &__icon {
                svg {
                    color: #CBCBCB;
                    transition: color 0.2s ease 0s;
                    width: rem(13);
                    height: rem(16);
                }
            }
            &--active {
                pointer-events: none;
                .city__icon {
                    svg {
                        color: var(--red);
                    }
                }
            }
            @include ishover {
                .city__icon {
                    svg {
                        color: var(--red);
                    }
                }
            }
        }
    }
    @include gap {
        &__content {
            padding: rem(40) rem(25) rem(30) rem(50);
            max-width: rem(500);
        }
        &__title {
            font-size: rem(26);
        }
    }
    @include phone {
        &__container {
        }
        &__content {
            justify-content: center;
            padding: rem(20) rem(10);
            width: 100%;
            max-width: unset;
        }
        &__close {
            padding: rem(5);
            width: rem(20);
            height: rem(20);
            &::before, &::after {
                width: rem(26.29);
            }
        }
        &__header {
            &:not(:last-child) {
                margin-bottom: rem(40);
            }
        }
        &__title {
            font-size: rem(22);
            line-height: calc(25 / 22);
            &:not(:last-child) {
                margin-bottom: rem(15);
            }
        }
        &--consultation {
            .popup__body {
                flex-grow: 0;
            }
            .form {
                gap: rem(40);
            }
            .form__submit {
                margin-top: 0;
            }
            .form__agreement {
                margin-top: rem(-20);
            }
        }
        &--cities {
            .popup__content {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}
