:root {
    --black: #28282C;
    --white: #FFFFFF;
    --red: #C00000;
    --grey: #EEEEEE;
    --background-color: #F3F3F3;
    --backdrop-bg: #111113;
    --header-z-index: 10;
    --dropdown-z-index: 12;
    --popup-z-index: 15;
    --preloader-z-index: 20;
    --container-padding: 0.9375rem;
    @include phone {
        --container-padding: 0.625rem;
    }
    // --init-width: 1920;
    // --init-width_units: calc(var(--init-width) * 1px);
    // @media screen and (min-width: 1920px) {
    //     --screen-diff: calc((100vw - var(--init-width_units))/var(--init-width));
    //     --font-size: calc(16px + 16 * var(--screen-diff));
    // }
}

// @function calc-between-width($width-start, $value-start, $width-end, $value-end)
//     @return calc(#{$value-start} * 1px + (#{$value-end} - #{$value-start}) * (100vw - #{$width-start} * 1px) / (#{$width-end} - #{$width-start}))

// calc-between-width(1600, 16, 1920, 19.2)

// .container {
//     background: rgba(0,0,0,0.8);
//     backdrop-filter: saturate(180%) blur(10px);
// }

// box-shadow: inset 0 0 15px #000; 0 0 0 #000;
// onhover : box-shadow: inset 0 0 0 #000, 0 8px 15px #000

// body {
//     // font grows 1px for every 100px of viewport width
//     font-size: calc(16px + 1vw);
//     // leading grows along with font,
//     // with an additional 0.1em + 0.5px per 100px of the viewport
//     line-height: calc(1.1em + 0.5vw);
// }


body {
    color: var(--black);
    font-family: "Involve", "sans-serif";
    font-size: rem(15);
    line-height: rem(20);
    min-width: rem(320);
    &._lock {
        height: 100%;
        overflow: hidden;
    }
    @include phone {
        font-size: rem(14);
    }
}

.preloader {
    background-color: var(--grey);
    position: fixed;
    inset: 0;
    transition: opacity 0.4s ease 0s, visibility 0.4s ease 0s;
    z-index: var(--preloader-z-index);
    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -150%);
        transition: transform 0.8s ease 0s, opacity 0.8s ease 0s;
    }
    &__progress {
        display: flex;
        align-items: baseline;
        gap: rem(12);
        font-size: rem(82);
        @include adaptive-value(font-size, 40, 82, 576, $container-width);
        font-weight: 400;
        line-height: calc(80 / 82);
        letter-spacing: -0.03em;
        position: absolute;
        left: rem(40);
        bottom: rem(15);
        opacity: 0;
        transform: translate(-20%, 0%);
        transition: opacity 0.2s ease 0s, transform 0.2s ease 0s;
        span {
            &:first-child {

            }
            &:last-child {
                color: var(--red);
                font-size: calc(42 / 82 * 1em);
            }
        }
    }
    &--animating {
        .preloader__logo {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }
    &--closing {
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        .preloader__logo {
            transition: transform 0.4s ease-in 0s;
            transform: translate(-50%, -50%) scale(1.3);
        }
    }
    @include phone {
        &__logo {
            width: rem(200);
        }
        &__progress {
            left: rem(20);
            bottom: rem(15);
            line-height: calc(45 / 40);
        }
    }
}


// typography
._h1 {
    font-size: rem(82);
    font-weight: 400;
    line-height: calc(80 / 82);
    letter-spacing: -0.03em;
    @include tablet {
        font-size: rem(60);
    }
    @include phone {
        font-size: rem(40);
        line-height: calc(45 / 40);
    }
}

._h1_fluid {
    font-size: rem(82);
    @include adaptive-value(font-size, 40, 82, 576, $container-width);
    font-weight: 400;
    line-height: calc(80 / 82);
    letter-spacing: -0.03em;
    @include phone {
        line-height: calc(45 / 40);
    }
}

._h2 {
    font-size: rem(48);
    font-weight: 400;
    line-height: calc(50 / 48);
    letter-spacing: -0.02em;
    @include tablet {
        font-size: rem(36);
    }
    @include phone {
        font-size: rem(28);
        line-height: calc(30 / 28);
    }
}

._h2_medium {
    @include h2;
    font-weight: 500;
}

._h3 {
    font-size: rem(32);
    font-weight: 400;
    line-height: calc(35 / 32);
    letter-spacing: -0.03em;
    @include phone {
        font-size: rem(18);
        line-height: calc(20 / 18);
    }
}

._h3_fluid {
    font-size: rem(32);
    @include adaptive-value(font-size, 22, 32, 576, $container-width);
    font-weight: 400;
    line-height: calc(35 / 32);
    letter-spacing: -0.03em;
    @include phone {
        font-size: rem(18);
        line-height: calc(20 / 18);
    }
}

._h3_medium {
    font-weight: 500;
}


.container {
    margin: 0 auto;
    padding: 0 var(--container-padding, 0.9375rem);
    width: 100%;
    max-width: #{$container-width}px;
    // @include phone {
    //     padding: 0 rem(10)
    // }
}

.section {
    &:not(:first-child) {
        margin-top: rem(140);
        @include adaptive-value(margin-top, 70, 140, 576, $container-width)
    }
    // @include phone {
    //     &:not(:first-child) {
    //         margin-top: rem(70);
    //     }
    // }
}

._transparent {
    opacity: 0.55;
}

.swiper-controls {
    background-color: #333337;
    border-radius: rem(35);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(20) 0;
    position: relative;

    padding: rem(6);
    .swiper-button-prev, .swiper-button-next {
        // padding: rem(7) rem(27);
        position: static;
        margin: 0;
        // width: auto;
        // height: auto;

        border-radius: 50%;
        color: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: rem(53);
        height: rem(53);
        transition: background-color 0.15s ease 0s;
        &::after {
            content: none;
        }
        object {
            pointer-events: none;
            height: rem(11);
            user-select: none;
        }
        svg {
            width: rem(8);
            height: rem(13);
        }
        @include ishover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
    &::after {
        background-color: rgba(255, 255, 255, 0.1);
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: rem(1);
        height: rem(25);
    }
    @include ishover {
        &::after {
            opacity: 0;
        }
    }
}

.swiper-button-next {
    svg {
        transform: translate(rem(3), 0);
    }
}
.swiper-button-prev {
    svg {
        transform: translate(rem(-3), 0) rotate(-180deg);
    }
}

.fancybox {
    &__backdrop {
        background-color: var(--backdrop-bg);
        opacity: 0.7;
    }
    &__toolbar.is-absolute {
        top: rem(20);
        right: rem(20);
        .f-button[data-fancybox-close] {
            background-color: transparent;
            @include ishover {
                background-color: transparent;
            }
        }
    }
    &__content {
        img {
            aspect-ratio: calc(1040 / 670);
            max-width: rem(1040);

        }
    }
    &__nav {
        position: absolute;
        top: calc(50% + min(calc(670 / 1040 * 50vw), 335px));
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        & > * {
            position: static !important;
            transform: none !important;
        }
    }
}